/*----GLOBAL----*/
body {
   padding: 0;
   margin: 0;
   overflow: hidden;
}


.container {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
    color:  rgb(65, 59, 59);
}

/*---MAIN---*/
main {
    background-image: url("img/bg.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
    overflow-y: scroll;
}

main .layer {
    background-color: gray;
    width: 100%;
    height: 200%;
    opacity: 0.6;
    overflow: hidden;
}

main .p {
    text-align: center;
    padding-top: 100px;
    color: white;
}

main h1 {
    font-family: cursive;
}
main h3 {
    font-family: cursive;
    color: rgb(65, 59, 59);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
main ul {
    margin-top: 40px;
}
main li {
    display: inline-block;
    margin-left: 20px;
}
main li:hover {
    cursor: pointer;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: honeydew;
}
main .btn {
    border: 3px rgb(65, 59, 59) solid;
    padding: 10px;
    background-color: rgb(168, 172, 168);
    color: rgb(65, 59, 59);
}
main .p .projects {
    margin-top: 60px;
}
main h2 {
    margin-bottom: 20px;
}
main .box {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: rgb(82, 78, 78);
    display: inline-block;
    margin: 20px;
    vertical-align: bottom;
}
main .box p{
    position: absolute;
    top: -40px;
    left: -20px;
    color: rgb(65, 59, 59);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    letter-spacing: .1rem;
}
main .box img {
    width: 100%;
    height: 100%;
    padding: 0;
}

@media only screen and (max-width: 420px) {
    main .box {
        width: 100%;
    }

    main {
        height: 196vh;
    }

    main .p {
        padding-top: 0;
    }
}
